body{
    color: cadetblue;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#contenedor{
    margin-top: 15%;
    border: 30px;
    align-items: center;
}